* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family-general: 'Red Hat Display', sans-serif;
    --font-family-titles: 'Dosis', sans-serif;

    --red-nintendo: #fe0100; /*#e60012*/
    --green-xbox: #105001; /*#107b10*/
    --blue-playstation: #120c5a;
    --light-blue-playstation: #0070d1;
    --purple-gamecube: #5E4BB9;
    --dark-red: #630001;
    --light-gray: #c1bfbf;
    --very-light-gray: #f8f6f6;
    --black-game: #000407;
    --white: #ffffff;
    --black: #000000;

    --width-main-buttons: 25rem;
    --width-secundary-buttons: 15rem;
    --width-game-related-container: 5rem;
    --width-game-preview-container: 10rem;
    --width-game-description-container: 25rem;
}

html {
    font-family: var(--font-family-general);
    font-size: 62.5%;
}

body {
    width: 100%;
}

header {
    height: 10vh;
    background-color: var(--red-nintendo);
    display: flex;
}

header div {
    width: 33.33%;
    display: flex;
    align-items: center;
}

header .arrow-container {
    justify-content: start;
    padding-left: 1rem;
    color: var(--white);
}

header img {
    width: 10rem;
}

header a {
    margin: 0 auto;
}

header .home-container {
    justify-content: end;
    padding-right: 1rem;
    color: var(--white);
}

main {
    min-height: 58rem;
    background-color: var(--very-light-gray);
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--black-game);
}

/* VISTA PRINCIPAL */

.main-img-container div {
    width: 30rem;
    height: 40rem;
    margin: 0 auto;
}

.main-img-container div img {
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    /* opacity: 60%; */
}

/* MAIN BUTTONS */

.main-buttons-container div {
    text-align: center;
}

.main-buttons-container button {
    width: var(--width-main-buttons);
    border-radius: 1rem;
    margin-top: 1rem;
    height: 3.1rem;
    cursor: pointer;
}

.main-buttons-container button:hover {
    font-size: 1.4rem;
    width: 26rem;
}

.main-buttons-container button:active {
    box-shadow: 2px 2px 2px 0.5px var(--light-gray) ,
                -2px -2px 2px 0.5px var(--light-gray);
    font-size: 1.25rem;
}

#played_button {
    background-color: var(--white);
    border: 0.4rem solid var(--green-xbox);
    color: var(--green-xbox);
    font-weight: bold;
    /* background-color: var(--green-xbox);
    color: var(--white); */
}

#playing_button {
    background-color: var(--white);
    border: 0.4rem solid var(--blue-playstation);
    color: var(--blue-playstation);
    font-weight: bold;
    /* background-color: var(--blue-playstation);
    color: var(--white); */
}

#to_play_button {
    background-color: var(--white);
    border: 0.4rem solid var(--dark-red);
    color: var(--dark-red);
    font-weight: bold;
    /* background-color: var(--dark-red);
    color: var(--white); */
}

#search_button {
    background-color: var(--white);
    border: 0.4rem solid var(--light-blue-playstation);
    color: var(--light-blue-playstation);
    font-weight: bold;
    /* background-color: var(--light-blue-playstation);
    color: var(--white); */
    margin-top: 2rem;
}


/* VISTA DE JUEGOS JUGADOS, JUGANDO, POR JUGAR Y SEARCH */

.bi {
    width: 2rem;
    height: 2rem;
}

.bi-arrow-left, .bi-house-door-fill {
    cursor: pointer;
}


.played-section-container h2,
.playing-section-container h2,
.toplay-section-container h2,
.search-section-container h2,
.detail-section-container h2 {
    text-align: center;
}

.search-input-container {
    text-align: center;
}

.search_input {
    width: var(--width-main-buttons);
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 3.1rem;
    padding: 0.5rem;
}

.search_input:hover {
    border: 0.3rem solid var(--red-nintendo);
}

.played-games-container,
.playing-games-container,
.toplay-games-container,
.search-games-container {
    margin: 4rem auto 0;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 21rem;
    gap: 1rem;
    justify-items: center;
}

.search-games-container {
    margin: 2rem auto 0;
}

.trending-title {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.detail-games-container div {
    margin: 2rem auto 0;
    width: 30rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 1px 2px 0.5px var(--light-gray) ,
    -1px -1px 2px 0.5px var(--light-gray) ;
    /* position: relative; */
}

.played-games-container div,
.playing-games-container div,
.toplay-games-container div,
.search-games-container div {
    background-color: var(--white);
    width: 14.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 2px 0.5px var(--light-gray) ,
                -1px -1px 2px 0.5px var(--light-gray) ;
}


.played-games-container img,
.playing-games-container img,
.toplay-games-container img  {
    width: 11rem;
    border-radius: 0.5rem;
    height: 15rem;
    cursor: pointer;
}

.search-games-container img {
    width: 11rem;
    border-radius: 0.5rem;
    height: 8rem;
    cursor: pointer;
}

.detail-games-container img {
    width: 20rem;
    border-radius: 0.5rem;
    height: 15rem; /*28.6*/
}

.search-input-container button {
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.played-games-container span:nth-child(2),
.playing-games-container span:nth-child(2),
.toplay-games-container span:nth-child(2),
.search-games-container span:nth-child(2) {
    font-weight: bold;
    display: inline-block;
}

.detail-games-container span {
    text-align: start;
    margin-top: 1rem;
}

.detail-games-container p {
    text-align: start;
}

.game-detail-name {
    display: block;
    font-weight: bold;
    font-size: 1.4rem;
}

.game-detail-released {
    display: block;
    font-size: 1.2rem;
}

.game-genre {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.game-detail-description {
    display: block;
    font-size: 1.2rem;
}

.game-metacritic {
    display: block;
    font-size: 1.2rem;
    text-align: end;
}

.played-games-container span:nth-child(3),
.playing-games-container span:nth-child(3),
.toplay-games-container span:nth-child(3) {
    font-weight: bold;
    color: var(--white);
    position: absolute;
    cursor: pointer;
    width: 1.36rem;
    top: 19.14rem;
    right: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--red-nintendo);
}

.playing-games-container span:nth-child(4),
.toplay-games-container span:nth-child(4) {
    /* font-weight: bold; */
    color: var(--white);
    position: absolute;
    cursor: pointer;
    width: 10rem;
    top: 19.14rem;
    left: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--green-xbox);
}

.previous-next-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 64px 64px 64px 64px 64px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.previous-next-container span {
    font-weight: bold;
}

.previous-next-container button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px 0.5px var(--light-gray) ,
                -1px -1px 2px 0.5px var(--light-gray) ;
}

.previous-next-container button:first-child {
    justify-self: end;
}

.previous-next-container button:nth-child(5) {
    justify-self: start;
}

.search-games-container span:nth-child(3),
.search-games-container span:nth-child(4),
.search-games-container span:nth-child(5) {
    position: absolute;
    top: 19.14rem;
    width: 4rem;
    padding: 0.1rem 0.3rem;
    color: var(--white);
    border-radius: 0.3rem;
    cursor: pointer;
}

.search-games-container span:nth-child(3) {
    left: 0.5rem;
    background-color: var(--green-xbox);
}

.search-games-container span:nth-child(4) {
    left: 5.475rem;
    background-color: var(--blue-playstation);
}

.search-games-container span:nth-child(5) {
    right: 0.5rem;
    background-color: var(--dark-red);
}


footer {
    height: 15rem;
    /* height: auto; */
    background-color: var(--black-game);
    color: var(--light-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

footer > div {
    padding: 1rem;
    text-align: center;
}

/* footer div:first-child {
    padding-left: 3rem;
} */

footer h2 {
    margin-bottom: 1rem;
}

footer h3 {
    margin-top: 0.6rem;
}

footer a {
    color: var(--light-gray);
}

/* .credits {
    display: flex;
    justify-content: space-evenly;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
} */

.inactive {
    display: none;
}